@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Dancing+Script&display=swap');

:root{
    --cor0: #591902;
    --cor1: #BF571B99;
    --cor2: #F29D35;
    --cor3: #732C02;
}

body{
    background: rgb(89,25,2);
    background: linear-gradient(90deg, rgba(89,25,2,1) 0%, rgba(115,44,2,1) 22%, rgba(184,101,23,1) 62%, rgba(242,157,53,1) 100%);
}

header{
    background-image: url(../imagens/cofee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 300px;
}


#principal{    
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main{
    padding: 20px;
}

h1{
    font-family: 'Berkshire Swash', cursive;
    border-bottom-style: solid;
    width: 400px;
    border-width: 2px;
    border-color: var(--cor0);
}

.titulo{
    position: absolute;
    bottom: 20px;
    background-color: var(--cor1);
    color: white;
    border: none;
    padding: 10px 10px 10px 15px;
}

.fotos{
    border-radius: 15px;
    float: left;
    padding: 0px 10px 0px 10px;
}

.conteudo{
    font-family: 'Dancing Script', cursive;
}

#titulo{
    background-color: var(--cor0);
    color: white;
    font-family: 'Dancing Script', cursive;
}

table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    margin: 170px 0px 0px 0px;
}

th, td{
    background-color: var(--cor2);
    padding: 10px;
    font-family: 'Dancing Script', cursive;
}

footer{
    padding: 20px
}